<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="asset_comment_create_form" method='post' class="form" role="form" action='{% url 'applicant_asset_comment_form' asset.id %}'>
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Commento {{ asset }}</h4>
              </div>
              <div class="modal-body">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            {% if field.errors %}
                                <ul class="form-errors">
                                {% for error in field.errors %}
                                    <li><span class="fa fa-exclamation-triangle"></span> <strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {{ field.label_tag }} {{ field }} 
                            {% if field.help_text %}<div class="form-helptext">{{ field.help_text }}</div>{% endif %}
                        </div>
                    {% endfor %}
                    {% for field in form.hidden_fields %}
                        <div class="hidden">{{ field }}</div>
                    {% endfor %}
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="annulla" />
                <input type="submit" class="btn btn-primary" value="salva" style="margin-bottom: 5px;" />
              </div>
        </form>
    <script>
        var form_options = {
            target: '#modal',
            success: function() {  }
        }
        $('#asset_comment_create_form').ajaxForm(form_options);
    </script>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
